.app.dark {

    --bg-color: #0e0e75;
    --invert-bg-color: #e8e8ea;

    --primary-color: #049604;
    --secondary-color: #04ff04;

    --invert-primary-color: #041c65;
    --invert-secondary-color: #0449e0;
}